Package: botui-dbgsym
Source: botui
Version: 24.4-1
Auto-Built-Package: debug-symbols
Architecture: armhf
Maintainer: Mustafa Ghazi <mghazi@kipr.org>
Installed-Size: 11987
Depends: botui (= 24.4-1)
Section: debug
Priority: optional
Description: debug symbols for botui
Build-Ids: 04d9b7adfa33db70c548e18312bfb89debffe63c
