Package: botui-dbgsym
Source: botui
Version: 24.4-1
Auto-Built-Package: debug-symbols
Architecture: armhf
Maintainer: Mustafa Ghazi <mghazi@kipr.org>
Installed-Size: 11976
Depends: botui (= 24.4-1)
Section: debug
Priority: optional
Description: debug symbols for botui
Build-Ids: 84ce8459e39ae91f7d65146d8d807e819cffda48
