Package: botui
Version: 25.7-1
Architecture: armhf
Maintainer: Prithviraj Kadiyala <pkadiyala@kipr.org>
Installed-Size: 4440
Depends: libc6 (>= 2.15), libgcc1 (>= 1:4.4.0), libopencv-core2.4, libopencv-highgui2.4, libopencv-imgproc2.4, libqt4-dbus (>= 4:4.5.3), libqt4-declarative (>= 4:4.7.0~rc1), libqt4-network (>= 4:4.5.3), libqt4-script (>= 4:4.5.3), libqt4-sql (>= 4:4.5.3), libqt4-svg (>= 4:4.5.3), libqt4-xml (>= 4:4.5.3), libqt4-xmlpatterns (>= 4:4.5.3), libqtcore4 (>= 4:4.8.0), libqtgui4 (>= 4:4.6.1), libssl1.0.0 (>= 1.0.0), libstdc++6 (>= 4.9), zlib1g (>= 1:1.1.4), libssl-dev (>= 1.0.1), zlib1g-dev (>= 1.2.8), libopencv-dev (>= 2.4.9.1), qt4-default (>= 4.7.4), libwallaby (>= 25.0), libkar (>= 24.1), pcompiler (>= 24.1)
Section: misc
Priority: optional
Description: graphical interface
 Botui is a device-independent graphical interface designed initially for the Kovan controller. The icons used throughout botui are from the Font Awesome by Fonticons, Inc.
